{% extends "main/base.html" %}{% load static %}

{% block title %}Etusivu - {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block contents %}
{{ block.super }}
<h2>Etusivu</h2>
<p>
    Tervetuloa harjoittelemaan Python-kieltä!
</p>
<p>
    Varmistathan, että käytössäsi on mahdollisimman uusi selain (vähintään IE8, firefox 3), ja Javascript on kytkettynä päälle!
</p>
<p>
    Kun olet valmis, kirjaudu sisään yläoikealla sijaitsevasta linkistä, ja siirry tämän jälkeen tehtäviin yläriman "Tehtävät"-linkistä.
    Aloita kurssi valitsemalla tehtävälistasta ensimmäinen tehtävä.
</p>
{% endblock %}